[Unit]
Description=celestia-bridge
After=network-online.target
[Service]
User={{ ansible_user }}
ExecStart=$(which celestia) {{ celestia_node_type }} start \
  --gateway \
  --gateway.addr 0.0.0.0 \
  --gateway.port {{ celestia_node_gateway_port }} \
  --metrics.tls=false \
  --metrics \
  --metrics.endpoint otel.celestia.tools:4318 \
  --p2p.network {{ celestia_node_p2p_network }}
Restart=on-failure
RestartSec=10
LimitNOFILE=65535
[Install]
WantedBy=multi-user.target